html,
body {
  height: 100%;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
header {
    width: 100%;
    height: 567px;
    background: url(../img/bg-1.png) no-repeat bottom;
    background-size: cover;
    margin: 0 auto;
    
    nav {
        width: 100%;
        overflow: hidden;
        max-width: 960px;
        min-width:320px;
        margin: 0 auto;
        padding-top: 15px;
        
        
        .logo__wrap {
            float: left;
            margin-top: 12px;
            margin-left: 21px;
            
        }
        
        .logo__link {
            display: block;
            background-size: cover;
            max-width: 100%;
            height: auto;
        }
        
        .menu {
            float: right;
        }
        
        .menu__list__item {
            list-style: none;
            float: left;
        }
        
        .menu__list__item:last-child {
            margin-right: 20px;//0;
            margin-left: 27px;
        }
        
        .menu__list__item:nth-child(2) {
            margin-left: 36px;
        }
        
        .menu__list__link {
            display: block;
            padding: 7px 30px;
            text-decoration: none;
            color: black;
            font: 18px 'Open Sans',sans-serif;
            border: 2px solid transparent;
            line-height: 1;
            
        }
        
        .menu__list__link:hover {
            border: 2px solid black;
        }
        
        
        
    }
    
    .banner {
        width: 100%;
        overflow: hidden;
        max-width: 960px;
        min-width:320px;
        margin: 0 auto;
        
        .banner__logo-wrap {
            margin-top: 48px;
            margin-left: 39px;
        }
        
        .banner__logo-link {
            display: block;
        }
        
        .cat {
            position: absolute;
            margin-left: 500px;
            margin-top: -30px;
            .ct {
                display: none;
                position: relative;
                
            }
            .cat1 {
                display: none;
                top: -57px;
                margin-left: 79px;
            }
            .cat2 {
                display: none;
                margin-left: 169px;
                top: -143px;
            }
            .cat3 {
                display: none;
                top: -165px;
                margin-left: 267px;
            }
            .cat4 {
                display: none;
                margin-left: 368px;
                top: -178px;
            }
            .cat5 {
                display: none;
                margin-left: 396px;
                top: -151px;
            }
            .cat6 {
                display: none;
                margin-left: 396px;
                top: -130px;
            }
        }
        
        .h1 {
            display: block;
            margin-left: 11.5%;
            font: 36px 'Open Sans',sans-serif;
            letter-spacing: -0.99px;
            line-height: 1;
        }
        
        .text {
            display: inline-block;
            margin-top: 37px;
            margin-left: 7.5%;
            letter-spacing: -0.38px;
            font:22px 'Open Sans',sans-serif;
            margin-top: 45px;
        }
        
        .txt-center {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 2.3%;
            letter-spacing: -0.33px;
            font:22px 'Open Sans',sans-serif;
            line-height: 1.2;
        }
        
        .text2 {
            display: inline-block;
            letter-spacing: -0.38px;
            margin-left: 6.3%;
            font:22px 'Open Sans',sans-serif;
            
        }
        
        
        
    }
    
    ////END BANNER//////////////
    
}

//END HEADER////////////////////

.content1 {
        width: 100%;
        
        background: #f5f9f7;
        
        .content1__block {
            overflow: hidden;
            max-width: 960px;
            min-width:320px;
            margin: 0 auto;
            padding-top: 35px;
            padding-bottom: 35px;
        
        }
        .content1__block__text {
            float: left;
            width: 55%;
        }
        
            
            .h1__text {
                display: block;
                font: 33px 'Open Sans Light', sans-serif;
                margin-left:35%;// 6.1%;
                margin-top: 4px;
                letter-spacing: 0.4px;
            }
            .content1__text {
                text-align: center;
                margin-top: 35px;
                margin-left: 4.2%;
                letter-spacing: 0.3px;
                display: inline-block;
                font: 22px 'Open Sans Light', sans-serif;
                line-height: 27.7px;
            }
        
        
        .content1__img__wrp {
            float: left;
            width: 45%;
            position: relative;
            left: -4%;
        
        }

        .img__comp {
            background-size: cover;
            max-width: 465px;
            height: auto;
        }
        
}

.content2 {
        width: 100%;
        background: #f5f9f7;
        margin-top: 23px;
        padding-bottom: 235px;
        
        .content2__block {
            overflow: hidden;
            max-width: 960px;
            min-width:320px;
            margin: 0 auto;
            padding-top: 35px;
            padding-bottom: 82px;
        
        }
    
        .content2__logo__wrap {
            float: left;
            width: 50%;
                margin-top: 45px;
            
            .content2__logo__link {
                display: inline-block;
                margin-left: 17%;
                img {
                    max-width: 100%;
                height: auto;
                }
            }
        
        }
    
        .content2__button__wrap {
            float: left;
            width: 50%;
            margin-top: 64px;
            
            .buy {
                height: 59px;
                width: 173px;
                background: #347a51;
                color: black;
                font: 30px 'Open Sans Light', sans-serif;
                border: none;
                margin-left: 34%;
            }
            .buy:hover {
                -webkit-box-shadow: 2px 4px 39px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 4px 39px 0px rgba(0,0,0,0.75);
                box-shadow: 2px 4px 39px 0px rgba(0,0,0,0.75);
            }
        
        }
    
        
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(../img/bg-footer.png) no-repeat top;
    height: 235px;
    background-size: cover;
    margin: 0 auto;
    .footer__block {
        overflow: hidden;
        max-width: 960px;
        min-width:320px;
        margin: 0 auto;
        padding-top: 95px;
        
        
    }
    .footer__menu {
        float: left;
        width: 45%;
        ul {
            margin-left: 23.5%;
        }
        .list__item:last-child {
            margin-right: 0;
            .list__item__link {
                letter-spacing: 0;
            }
            
        }
        .list__item {
            list-style: none;
            float: left;
            margin-right: 22%;
            .list__item__link {
                display: block;
                text-decoration: none;
                color: black;
                font: 20px 'Open Sans Light', sans-serif;
                letter-spacing: -0.2px;
                line-height: 1;
            }
            
            .list__item__link:hover {
                text-decoration: underline;
                
            }
            
        }
    } 
    
    .footer__soc {
        float: left;
        width: 55%;
        ul {
            display: inline-block;
            width: 100%;
            padding-left: 6%;
            margin-top: 2px;
        }
        .soc__list__item:nth-child(2) {
            margin-left: 16%;
            margin-right: 16.5%;
        }
        .soc__list__item {
            float: left;
            list-style: none;
            .soc__list__link {
                text-decoration: none;
                display: block;
                border: 2px solid black;
                border-radius: 50%;
                height: 43px;
                width: 43px;
                line-height: 1.5;
            }
            .soc__list__link:hover {
                
                border: 2px solid goldenrod;
            }
            .icon-facebook,
            .icon-gplus,
            .icon-twitter {
                color: black;
                font-size: 30px;
            }
            
            .gplus {
                padding-left: 8px;
                padding-top: 9px;
                width: 35px;
                height: 34px;
            }
            
        }
    }
    
    .copy {
        display: block;
        text-align: center;
        font: 18px 'Open Sans Light', sans-serif;
        line-height: 4;
    }
    
}




@media screen and (min-width:2800px) {
     header {
        .banner {
            .cat {
                left: 40%;
            }  
        } 
    }
}

@media screen and (min-width:2300px) {
    header {
        .banner {
            .cat {
                left: 38%;
            }   
        }  
    }  
}

@media screen and (min-width:1467px) {
    header {
        .banner {
            .cat {
                left: 35%;
            }  
        }   
    }
}

@media screen and (min-width:1281px) {
    header {
        nav {
            max-width: 1920px;
        }
        .banner {
            max-width: 1440px;
            text-align: center;
            .cat {
                left: 200px;
               
            }
            
            .banner__logo-wrap {
                display: inline-block;
                text-align: center;
            }
        }
    }
    
    .content1 {
        .content1__block {
            max-width: 1280px;
        }
    }
    .content2 {
        .content2__block {
            max-width: 1280px;
        }
    }
    footer {
        .footer__block {
            max-width: 1920px;
        }
    }
    
}



@media screen and (min-width:625px) and (max-width:769px) {
    header {
         .banner {
             .banner__logo-wrap {
            margin-top: 15px;
            margin-left: 0;
        }
        
        .banner__logo-link {
            img {
                width: 65%;
            }
        }
    }
  }
}

@media screen and (min-width:770px) and (max-width:959px) {
    header {
         .banner {
             .cat {
                 margin-left: 55%;
                 .ct {
                     img {
                         width: 40px;
                     }
                 }
                .cat1 {
                    top: -50px;
                    margin-left: 75px; 
                 }
                 .cat2 {
                    margin-left: 146px;
                    top: -130px;
                     
                 }
                 .cat3 {
                    top: -147px;
                    margin-left: 229px;  
                 }
                 .cat4 {
                    margin-left: 262px;
                    top: -142px;   
                 }
                 .cat5 {
                    margin-left: 292px;
                    top: -118px;  
                 }
                 .cat6 {
                    margin-left: 291px;
                    top: -94px;
                 }
             }
        }
    }
    
}
@media screen and (min-width:625px) and (max-width:769px) {
     header {
         .banner {
             .cat {
                 margin-left: 50%;
                 .ct {
                     img {
                         width: 40px;
                     }
                 }
                 .cat1 {
                    top: -50px;
                    margin-left: 90px;
                     
                 }
                 .cat2 {
                    margin-left: 140px;
                    top: -110px;
                     
                 }
                 .cat3 {
                    top: -155px;
                    margin-left: 190px;
                     
                 }
                 .cat4 {
                    margin-left: 230px;
                    top: -159px;
                     
                 }
                 .cat5 {
                    margin-left: 255px;
                    top: -150px;
                     
                 }
                 .cat6 {
                    margin-left: 255px;
                    top: -138px;
                     
                 }
                 
             }
             
         }
    }
    
}
@media screen and (min-width:461px) and (max-width:624px) {
    header {
        .banner {
            .cat {
                margin-left: 50%;
                .ct {
                    img {
                        width: 30px;
                    }
                }
            .cat1 {
                top: -50px;
                margin-left: 85px;
            }
            
            .cat2 {
               margin-left: 120px;
                top: -90px;
            }
            .cat3 {
                top: -110px;
                margin-left: 150px;
            }
            .cat4 {
               margin-left: 175px;
                top: -119px;
            }
            .cat5 {
               margin-left: 195px;
                top: -120px;
            }
            .cat6 {
                margin-left: 195px;
                top: -118px;
            }
        }
      }
    }
    
}

@media screen and (min-width:461px) and (max-width:959px) {
header {
    nav {
        .menu__list__link {
            padding: 2px;
        }
    }
        
    .banner {
        .banner__logo-wrap {
            margin-top: 15px;
            margin-left: 0;
        }
        
        .banner__logo-link {
            img {
                width: 65%;
            }
        }
        
        .block__text {
            width:80%;
            margin-left: 5%;
        }
        
        .h1 {
            margin-left: 2%;
            font-size: 22px;
            text-align: center; 
        }
        
        .text {
            margin-top: 20px;
            font-size: 18px;
            display: inline;
        }
        
        .txt-center,
        .text2 {
            font-size: 18px;
            display: inline;
        } 
    }
}
.content1 {
        .img__comp {
            width: 100%;
        }
        .content1__text {
            margin-top: 20px;
         }
}

.content2 {
        width: 100%;
        background: #f5f9f7;
        margin-top: 23px;
        padding-bottom: 235px;
        
        .content2__block {
            overflow: hidden;
            max-width: 960px;
            min-width:320px;
            margin: 0 auto;
            padding-top: 35px;
            padding-bottom: 45px;
        
        }
    
        .content2__logo__wrap {
            float: left;
            width: 50%;
            margin-top: 45px;
        }
    
        .content2__button__wrap {
            .buy {
                margin-left: 10%;
            }
        }
} 
}

@media screen and (min-width:320px) and (max-width:460px) {
header {
    nav {
        .logo__link {
            width: 100px;
        }
        .menu {
            float: left;
        }
        
        .menu__list__item:last-child,
        .menu__list__item:nth-child(2),
        .menu__list__item {
            margin:0;
        }
        
        .menu__list__link {
            padding: 2px;
        }
 
    }
        
    .banner {
        .banner__logo-wrap {
            margin-top: 15px;
            margin-left: 0;
        }
        
        .banner__logo-link {
            img {
                width: 190px;
            }
        }
        
        .cat {
            margin-left: 100px;
            .ct {
                    img {
                        width: 20px;
                    }
                }
            .cat1 {
                top: -30px;
                margin-left: 85px;
            }
            .cat2 {
                margin-left: 105px;
                top: -60px;
            }
            .cat3 {
                top: -77px;
                margin-left: 130px;
            }
            .cat4 {
                margin-left: 155px;
                top: -89px;
            }
            .cat5 {
               margin-left: 175px;
                top: -97px;
            }
            .cat6 {
                margin-left: 175px;
                top: -98px;
            }
        }
        
        .block__text {
            width: 90%;
            margin: 0 5%;
        }
        
        .h1 {
            margin-left: 2%;
            font-size: 22px;
            text-align: center; 
        }
        
        .text {
            margin-left: 1%;
            margin-top: 20px;
            font-size: 18px;
            display: inline;
        }
        
        .txt-center {
            margin-left: 1%;
            font-size: 18px;
            display: inline;
        }
        
        .text2 {
            margin-left: 1%;
            font-size: 18px;
            display: inline;
        }
    }
    
}
.content1 {
        .content1__block__text {
            width: 90%;
        }
        
            
        
        .content1__img__wrp {
            left: 0;
            margin-left: 2%;
            width: 96%;
            img {
                max-width: 100%;
            }
        }  
}
.content2 {
        .content2__logo__wrap {
            width: 96%;
            margin: 0 2%;
            .content2__logo__link {
                margin-left: 2%;
            }
            
        }
        .content2__button__wrap {
            width: 96%;
            margin: 0 2%;
            .buy {
                margin-left: 0;
                margin: 10px 21%;
            }
        }
        
    }
    
footer {
    .footer__block {
        padding-top: 50px;
    }
    .footer__menu {
        width: 96%;
        ul {
            margin-left:0;
        }
    } 
    
    .footer__soc {
        width: 96%;
        margin: 0 2%;
        margin-top: 20px;
        ul {
            padding-left: 10%;
        }
    }
}
}




